
.tdCenter{
    text-align: center;

}
.tdRight{
    text-align: right;
}


th{
    background-color: green;

}
.bg{
    background-color: rgba(31, 90, 31, 0.503);
}
th,td,tr{
    padding: 15px;
}
table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}